<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FlaskApp</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    
    <h1>Bluetooth config</h1>
    
    <br/>
    <form action="/" method="GET">
        <button type="submit" class="btn btn-primary">Back</button>
    </form>
    <br/>

    <div class="row mb-4 justify-content-center">
      <div class="col-12 col-md-4 mb-4"> 
          <div class="card bg-light">
              <div class="card-body">
                  <h5 class="card-title">Device: {{ DEVICE_NAME }}  </h5>
                  <h6 class="card-subtitle mb-2 text-body-secondary">Status: {{ SETUP_STATUS }}</h6>
                  <p class="card-text"> <b>Mac Address:</b> {{ MACADDRESS }} </p>
              </div>
          </div>
      </div>
    </div>
    <br/>
    <form action="/bluetooth-setup/start" method="GET">
        <button type="submit" class="btn btn-primary">Setup new Wiking Watch</button>
    </form>
    <br/>


    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>

